.task-form {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  padding: 1.5rem;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.task-form h3 {
  text-align: center;
  color: #282c34;
  margin-bottom: 1.5rem;
}

.task-form div {
  margin-bottom: 1.5rem;
}

.task-form label {
  font-weight: bold;
  margin-bottom: 0.5rem;
  display: block;
  font-size: 1.1rem;
  color: #333;
}

.task-form input,
.task-form textarea,
.task-form select {
  width: 100%;
  padding: 0.8rem;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 1rem;
  background-color: #f9f9f9;
}

.task-form input:focus,
.task-form textarea:focus,
.task-form select:focus {
  border-color: #61dafb;
  background-color: #fff;
  outline: none;
}

/* Styling for checkbox */
.task-form input[type="checkbox"] {
  width: auto;
  margin-right: 0.5rem;
}

.task-form .form-group.checkbox-group {
  display: flex;
  align-items: center;
}

.task-form button {
  align-self: flex-start;
  background-color: #61dafb;
  color: white;
  border: none;
  padding: 0.7rem 1.2rem;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
}

.task-form button:hover {
  background-color: #4a96c9;
}

/* Responsive Design */
@media (max-width: 768px) {
  .task-form {
    padding: 1rem;
  }

  .task-form button {
    width: 100%;
    text-align: center;
  }
}
